.row {
    margin:0;
}

a {
    text-decoration:none;
    margin:0;
}

#title {
    font-family: 'Marck Script', cursive;
    font-size: 2.1em;
}


.navbar-form {
    margin-right:15px;
}
 
.nav>ul:first-child  {
    margin-left:2.1em;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
    padding: 20px 15px 15px;
    text-align: center;
    width: 100%;
    img {
        width: 150px;
        height: 100px;
    }
}